body {
  background-color: #d4edc4;
}

.headline {
  text-align: center;
}

.Header {
  text-align: center;
}

img {
  max-width: 500px;
  max-height: 400px;
}
.first_grab {
text-align: left;

}

.second_grab {
text-align: right;
}

.warm {
  font-style: oblique;
  color: red;
}

.trashmen {
  font-weight: bold;
  color: red
}

.About_me {
  text-align: center;
}
